<a href="https://colab.research.google.com/github/ayoraheem0000/Data/blob/main/Apache_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data cleaning with Apache Spark

In [76]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("DataCleaningExample") \
    .getOrCreate()

# Load data
df = spark.read.csv("/content/sample_data/Retail.csv", header=True, inferSchema=True)
df.show()

+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|Transaction ID|      Date|Customer ID|Gender|Age|Product Category|Quantity|Price per Unit|Total Amount|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|             1|11/24/2023|    CUST001|  Male| 34|          Beauty|       3|            50|         150|
|             2| 2/27/2023|    CUST002|Female| 26|        Clothing|       2|           500|        1000|
|             3| 1/13/2023|    CUST003|  Male| 50|     Electronics|       1|            30|          30|
|             4| 5/21/2023|    CUST004|  Male| 37|        Clothing|       1|           500|         500|
|             5|  5/6/2023|    CUST005|  Male| 30|          Beauty|       2|            50|         100|
|             6| 4/25/2023|    CUST006|Female| 45|          Beauty|       1|            30|          30|
|             7| 3/13/2023|    CUST007|  Male| 46|        Clothing|       2|            25|          50|
|             8| 2/22/2023|    CUST008|  Male| 30|     Electronics|       4|            25|         100|
|             9|12/13/2023|    CUST009|  Male| 63|     Electronics|       2|           300|         600|
|            10| 10/7/2023|    CUST010|Female| 52|        Clothing|       4|            50|         200|
|            11| 2/14/2023|    CUST011|  Male| 23|        Clothing|       2|            50|         100|
|            12|10/30/2023|    CUST012|  Male| 35|          Beauty|       3|            25|          75|
|            13|  8/5/2023|    CUST013|  Male| 22|     Electronics|       3|           500|        1500|
|            14| 1/17/2023|    CUST014|  Male| 64|        Clothing|       4|            30|         120|
|            15| 1/16/2023|    CUST015|Female| 42|     Electronics|       4|           500|        2000|
|            16| 2/17/2023|    CUST016|  Male| 19|        Clothing|       3|           500|        1500|
|            17| 4/22/2023|    CUST017|Female| 27|        Clothing|       4|            25|         100|
|            18| 4/30/2023|    CUST018|Female| 47|     Electronics|       2|            25|          50|
|            19| 9/16/2023|    CUST019|Female| 62|        Clothing|       2|            25|          50|
|            20| 11/5/2023|    CUST020|  Male| 22|        Clothing|       3|           300|         900|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
only showing top 20 rows

In [77]:
#Drop rows with nulls:

df = df.dropna()
df.show()

+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|Transaction ID|      Date|Customer ID|Gender|Age|Product Category|Quantity|Price per Unit|Total Amount|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|             1|11/24/2023|    CUST001|  Male| 34|          Beauty|       3|            50|         150|
|             2| 2/27/2023|    CUST002|Female| 26|        Clothing|       2|           500|        1000|
|             3| 1/13/2023|    CUST003|  Male| 50|     Electronics|       1|            30|          30|
|             4| 5/21/2023|    CUST004|  Male| 37|        Clothing|       1|           500|         500|
|             5|  5/6/2023|    CUST005|  Male| 30|          Beauty|       2|            50|         100|
|             6| 4/25/2023|    CUST006|Female| 45|          Beauty|       1|            30|          30|
|             7| 3/13/2023|    CUST007|  Male| 46|        Clothing|       2|            25|          50|
|             8| 2/22/2023|    CUST008|  Male| 30|     Electronics|       4|            25|         100|
|             9|12/13/2023|    CUST009|  Male| 63|     Electronics|       2|           300|         600|
|            10| 10/7/2023|    CUST010|Female| 52|        Clothing|       4|            50|         200|
|            11| 2/14/2023|    CUST011|  Male| 23|        Clothing|       2|            50|         100|
|            12|10/30/2023|    CUST012|  Male| 35|          Beauty|       3|            25|          75|
|            13|  8/5/2023|    CUST013|  Male| 22|     Electronics|       3|           500|        1500|
|            14| 1/17/2023|    CUST014|  Male| 64|        Clothing|       4|            30|         120|
|            15| 1/16/2023|    CUST015|Female| 42|     Electronics|       4|           500|        2000|
|            16| 2/17/2023|    CUST016|  Male| 19|        Clothing|       3|           500|        1500|
|            17| 4/22/2023|    CUST017|Female| 27|        Clothing|       4|            25|         100|
|            18| 4/30/2023|    CUST018|Female| 47|     Electronics|       2|            25|          50|
|            19| 9/16/2023|    CUST019|Female| 62|        Clothing|       2|            25|          50|
|            20| 11/5/2023|    CUST020|  Male| 22|        Clothing|       3|           300|         900|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
only showing top 20 rows

In [78]:
# Print Schema
df.printSchema()

# Print Dataframe
df.show()

root
 |-- Transaction ID: integer (nullable = true)
 |-- Date: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Product Category: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Price per Unit: integer (nullable = true)
 |-- Total Amount: integer (nullable = true)

+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|Transaction ID|      Date|Customer ID|Gender|Age|Product Category|Quantity|Price per Unit|Total Amount|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|             1|11/24/2023|    CUST001|  Male| 34|          Beauty|       3|            50|         150|
|             2| 2/27/2023|    CUST002|Female| 26|        Clothing|       2|           500|        1000|
|             3| 1/13/2023|    CUST003|  Male| 50|     Electronics|       1|            30|          30|
|             4| 5/21/2023|    CUST004|  Male| 37|        Clothing|       1|           500|         500|
|             5|  5/6/2023|    CUST005|  Male| 30|          Beauty|       2|            50|         100|
|             6| 4/25/2023|    CUST006|Female| 45|          Beauty|       1|            30|          30|
|             7| 3/13/2023|    CUST007|  Male| 46|        Clothing|       2|            25|          50|
|             8| 2/22/2023|    CUST008|  Male| 30|     Electronics|       4|            25|         100|
|             9|12/13/2023|    CUST009|  Male| 63|     Electronics|       2|           300|         600|
|            10| 10/7/2023|    CUST010|Female| 52|        Clothing|       4|            50|         200|
|            11| 2/14/2023|    CUST011|  Male| 23|        Clothing|       2|            50|         100|
|            12|10/30/2023|    CUST012|  Male| 35|          Beauty|       3|            25|          75|
|            13|  8/5/2023|    CUST013|  Male| 22|     Electronics|       3|           500|        1500|
|            14| 1/17/2023|    CUST014|  Male| 64|        Clothing|       4|            30|         120|
|            15| 1/16/2023|    CUST015|Female| 42|     Electronics|       4|           500|        2000|
|            16| 2/17/2023|    CUST016|  Male| 19|        Clothing|       3|           500|        1500|
|            17| 4/22/2023|    CUST017|Female| 27|        Clothing|       4|            25|         100|
|            18| 4/30/2023|    CUST018|Female| 47|     Electronics|       2|            25|          50|
|            19| 9/16/2023|    CUST019|Female| 62|        Clothing|       2|            25|          50|
|            20| 11/5/2023|    CUST020|  Male| 22|        Clothing|       3|           300|         900|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
only showing top 20 rows

In [79]:
# Remove rows where age is not realistic
from pyspark.sql.functions import col

df.filter (col('Price per Unit') > 120 ).show()

+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|Transaction ID|      Date|Customer ID|Gender|Age|Product Category|Quantity|Price per Unit|Total Amount|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|             2| 2/27/2023|    CUST002|Female| 26|        Clothing|       2|           500|        1000|
|             4| 5/21/2023|    CUST004|  Male| 37|        Clothing|       1|           500|         500|
|             9|12/13/2023|    CUST009|  Male| 63|     Electronics|       2|           300|         600|
|            13|  8/5/2023|    CUST013|  Male| 22|     Electronics|       3|           500|        1500|
|            15| 1/16/2023|    CUST015|Female| 42|     Electronics|       4|           500|        2000|
|            16| 2/17/2023|    CUST016|  Male| 19|        Clothing|       3|           500|        1500|
|            20| 11/5/2023|    CUST020|  Male| 22|        Clothing|       3|           300|         900|
|            21| 1/14/2023|    CUST021|Female| 50|          Beauty|       1|           500|         500|
|            24|11/29/2023|    CUST024|Female| 49|        Clothing|       1|           300|         300|
|            26| 10/7/2023|    CUST026|Female| 28|     Electronics|       2|           500|        1000|
|            28| 4/23/2023|    CUST028|Female| 43|          Beauty|       1|           500|         500|
|            30|10/29/2023|    CUST030|Female| 39|          Beauty|       3|           300|         900|
|            31| 5/23/2023|    CUST031|  Male| 44|     Electronics|       4|           300|        1200|
|            35|  8/5/2023|    CUST035|Female| 58|          Beauty|       3|           300|         900|
|            36| 6/24/2023|    CUST036|  Male| 52|          Beauty|       3|           300|         900|
|            42| 2/17/2023|    CUST042|  Male| 22|        Clothing|       3|           300|         900|
|            43| 7/14/2023|    CUST043|Female| 48|        Clothing|       1|           300|         300|
|            46| 6/26/2023|    CUST046|Female| 20|     Electronics|       4|           300|        1200|
|            47| 11/6/2023|    CUST047|Female| 40|          Beauty|       3|           500|        1500|
|            48| 5/16/2023|    CUST048|  Male| 54|     Electronics|       3|           300|         900|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
only showing top 20 rows

In [80]:
df.show()
df.write.csv("/content/sample_data/Retail_cleaned_data.cvs", header=True)

+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|Transaction ID|      Date|Customer ID|Gender|Age|Product Category|Quantity|Price per Unit|Total Amount|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
|             1|11/24/2023|    CUST001|  Male| 34|          Beauty|       3|            50|         150|
|             2| 2/27/2023|    CUST002|Female| 26|        Clothing|       2|           500|        1000|
|             3| 1/13/2023|    CUST003|  Male| 50|     Electronics|       1|            30|          30|
|             4| 5/21/2023|    CUST004|  Male| 37|        Clothing|       1|           500|         500|
|             5|  5/6/2023|    CUST005|  Male| 30|          Beauty|       2|            50|         100|
|             6| 4/25/2023|    CUST006|Female| 45|          Beauty|       1|            30|          30|
|             7| 3/13/2023|    CUST007|  Male| 46|        Clothing|       2|            25|          50|
|             8| 2/22/2023|    CUST008|  Male| 30|     Electronics|       4|            25|         100|
|             9|12/13/2023|    CUST009|  Male| 63|     Electronics|       2|           300|         600|
|            10| 10/7/2023|    CUST010|Female| 52|        Clothing|       4|            50|         200|
|            11| 2/14/2023|    CUST011|  Male| 23|        Clothing|       2|            50|         100|
|            12|10/30/2023|    CUST012|  Male| 35|          Beauty|       3|            25|          75|
|            13|  8/5/2023|    CUST013|  Male| 22|     Electronics|       3|           500|        1500|
|            14| 1/17/2023|    CUST014|  Male| 64|        Clothing|       4|            30|         120|
|            15| 1/16/2023|    CUST015|Female| 42|     Electronics|       4|           500|        2000|
|            16| 2/17/2023|    CUST016|  Male| 19|        Clothing|       3|           500|        1500|
|            17| 4/22/2023|    CUST017|Female| 27|        Clothing|       4|            25|         100|
|            18| 4/30/2023|    CUST018|Female| 47|     Electronics|       2|            25|          50|
|            19| 9/16/2023|    CUST019|Female| 62|        Clothing|       2|            25|          50|
|            20| 11/5/2023|    CUST020|  Male| 22|        Clothing|       3|           300|         900|
+--------------+----------+-----------+------+---+----------------+--------+--------------+------------+
only showing top 20 rows